partials:
  - name: about_me
    title: 'AboutMe'
    avatar: 'me.jpg'  # = /static/upload/me.jpg
    intro: '你看到了我哟'
    sns:
    - twitter: 'example'
    - github: 'example'
    - douban: 'example'
    - linkedin: 'example'
    - instagram: 'example'
    - stack-overflow: 'example'
    - medium: 'example'
    - zhihu: 'example'
    - email: 'example'
    - wechat: 'wechat-qrcode.jpg'
    - weixingongzhonghao: 'wechat-subscription-account-qrcode.png'
  - name: tagcloud
    title: 标签云
    count: 20
  - name: html
    title: 自定义HTML
    body: |
      <p>Hello <strong>World</strong>!!</p>
  - name: latest_comments
    title: 最新评论
    count: 5
  - name: blogroll
    title: 友情链接
    links:
      - title: '大明大明大明大明大明'
        url: 'https://www.example.com'
      - title: '小明'
        url: 'https://www.example.com'
  - name: most_viewed
    title: '最热文章'
    count: 5
