sanic==18.12.0
click==7.0
aiohttp==3.5.1
sanic_oauth==0.2.5
sanic_mako==0.4.0
aiomysql==0.0.20
WTForms==2.2.1
Sanic-wtf==0.5.0
sanic-session==0.4.1
aioredis==1.2.0
cython==0.29.2
mistune==0.8.4
asyncblink==0.3.2
Werkzeug==0.14.1
Pygments==2.3.0
cssmin==0.2.0
gunicorn==19.8.0
sanic-sentry==0.1.7
sanic-jwt==1.2.1
attrs==19.1.0
aiosmtplib==1.0.4
dataclasses==0.6;python_version == '3.6'
contextvars==2.4;python_version == '3.6'
-e git+https://github.com/dongweiming/aiomcache.git@dev2#egg=aiomcache
-e git+https://github.com/dongweiming/tortoise-orm.git@dev#egg=tortoise
-e git+https://github.com/samuelcolvin/arq.git@v0.16a5#egg=arq
