click==8.0.1
aiohttp==3.7.4
WTForms==2.2.1
aioredis==1.3.1
cython==0.29.24
mistune==0.8.4
asyncblink==0.3.2
werkzeug==0.16.0
Pygments==2.10.0
cssmin==0.2.0
PyYAML==5.4.1
gunicorn==20.1.0
pangu==4.0.6.1
redis==3.5.3
aiosmtplib==1.1.6
arq==0.21
tortoise-orm==0.17.6
lxml==4.6.3
extraction==0.3
sanic==21.6.2
sanic-jwt==1.7.0
Sanic-Mako==0.6.0
sanic-routing==0.7.1
sanic-sentry==0.1.7
sanic-session==0.8.0
Sanic-WTF==0.6.0
-e git+https://github.com/dongweiming/sanic-oauth.git@master#egg=sanic-oauth
-e git+https://github.com/dongweiming/aiomysql.git@python38#egg=aiomysql
