.subjects {
  overflow: auto;
  margin-top: 40px;
  zoom: 1;
  margin-left: 20px;
}

.item {
  display: inline-block;
  vertical-align: top;
  color: #37a;
  font-size: 13px;
  text-align: left;
  margin-top: auto 0;
  padding: 0;
  width: 200px;
}

.item p {
  line-height: 1rem;
}

.item .cover {
  background-size: 100%;
  height: 258px;
  overflow: hidden;
  position: relative;
}

.item .pic {
  display: inline-block;
}

.item .pic img {
  width: 185px;
}

.types {
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.types li {
  display: inline-block;
  color: #333;
  margin-right: 8px;
}

.type span {
    zoom: 1;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 16px;
    line-height: 20px;
    border-radius: 2px;
    display: inline-block;
}

.checked {
  opacity: .8;
  color: #2196F3;
}

.type:hover {
  padding: 4px 0;
  background-color: #eee;
}

@media screen and (max-width: 768px) {
  .item {
    width: 180px;
  }
  .item .cover {
    height: 245px;
  }
  .item .pic img {
    width: 166px;
  }
}

/* Ratings widget */
.rate {
  display: inline-block;
  border: 0;
  margin-bottom: -1rem;
}
/* Hide radio */
.rate > input {
  display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
  float: right;
}
/* The star of the show */
.rate > label:before {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.2rem 0.1rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 "; /* full star */
  color: #fdd030;
}

/* Half star trick */
.rate .half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}

/* Tooltips */

.tool {
  position: relative;
}

.tool::before,
.tool::after {
    left: 0;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 0.9;
    transform: scale(1) translateY(0);
    z-index: 100;
}

.tool:hover::before,
.tool:focus::before {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}

.tool::after {
    background: #3E474F;
    border-radius: .25em;
    top: 0;
    color: #EDEFF0;
    content: attr(data-tip);
    margin-left: 0;
    padding: 1em;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    transform:  scale(.6) translateY(50%);
    width: 185px;
}

.tool:hover::after,
.tool:focus::after  {
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
  .tool::after {
        font-size: .75em;
        margin-left: -5em;
        width: 10em;
  }
}
