.subjects {
  overflow: auto;
  margin-top: 40px;
  zoom: 1;
  margin-left: 20px;
}

.item {
  display: inline-block;
  vertical-align: top;
  color: #37a;
  font-size: 13px;
  text-align: left;
  margin-top: auto 0;
  padding: 0;
  width: 200px;
}

.item p {
  line-height: 1rem;
}

.item .cover {
  background-size: 100%;
  height: 258px;
  overflow: hidden;
  position: relative;
}

.item .pic {
  display: inline-block;
}

.item .pic img {
  width: 185px;
}

.types {
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.types li {
  display: inline-block;
  color: #333;
  margin-right: 8px;
}

.type span {
    zoom: 1;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 16px;
    line-height: 20px;
    border-radius: 2px;
    display: inline-block;
}

.checked {
  opacity: .8;
  color: #2196F3;
}

.type:hover {
  padding: 4px 0;
  background-color: #eee;
}

@media screen and (max-width: 768px) {
  .item {
    width: 180px;
  }
  .item .cover {
    height: 245px;
  }
  .item .pic img {
    width: 166px;
  }
}

/* Ratings widget */
.rate {
  display: inline-block;
  border: 0;
  margin-bottom: -1rem;
}
/* Hide radio */
.rate > input {
  display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
  float: right;
}
/* The star of the show */
.rate > label:before {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.2rem 0.1rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 "; /* full star */
  color: #fdd030;
}

/* Half star trick */
.rate .half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}
