<%inherit file="/admin/base.html" />


<%def name="content()">
  <h1 class="uk-heading-bullet">Welcome to Lyanna CMS admin</h1>

  <div uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title"><a href="${ app.url_for('admin.new_post') }">New Post</a></h3>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body">
                <h3 class="uk-card-title"><a href="${ app.url_for('admin.new_user') }">New User</a></h3>
            </div>
        </div>
      </div>
    </div>
    <div class="uk-width-expand@m"></div>
  </div>
</%def>
