<%inherit file="/admin/base.html" />
<%namespace name="utils" file="/admin/utils.html" />

<%def name="title()">Settings</%def>

<%def name="content()">
 <form class="uk-form-horizontal uk-margin-large settings-form" action="${ app.url_for('admin.profile') }" method="POST" name="settings_form" enctype="multipart/form-data">
    <fieldset class="uk-fieldset">
      ${ form.hidden_tag() | n }
      ${ utils.render_field_with_errors(form.avatar) }
      ${ utils.render_field_with_errors(form.intro) }
      ${ utils.render_field_with_errors(form.github_url) }
      ${ utils.render_field_with_errors(form.linkedin_url) }
      ${ utils.render_submit(form.submit) }
    </fieldset>
  </form>
</%def>


<%def name="bottom_script()">
  <script src="${ app.url_for('static', filename='dist/admin/profile.js')}"></script>
</%def>
