<%inherit file="/base.html" />
<%def name="title()">动态</%def>

<%def name="more_header()">
<link href="${ app.url_for('static', filename='css/index.css') }" rel="stylesheet">
</%def>

<%def name="pagination()"></%def>

<%def name="content()">
  <div id="app"></div>
</%def>

<%def name="bottom_script()">
  <script type="module" crossorigin src="${ app.url_for('static', filename='js/index.js') }"></script>
  <link rel="modulepreload" href="${ app.url_for('static', filename='js/vendor.js') }">
</%def>
