<%! from config import SHOW_PROFILE, AVATAR, INTRO, BLOG_URL %>
<%inherit file="/base.html" />
<%namespace name="utils" file="/utils.html"/>

<%def name="doc_head()">
<link rel="stylesheet" href="${ app.url_for('static', filename='css/index.min.css') } ">
<script type="application/ld+json">
 {
   "@context": "https://schema.org",
   "@type": "WebSite",
   "url": "${ BLOG_URL }",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "${ BLOG_URL }/search?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
 }
</script>
</%def>

<%def name="content()">
  <div class="${ 'post-list' if SHOW_PROFILE else ''}">
    <div class="recent-posts">
      % for post in paginatior.items:
      <article class="recent-post-item">
        <a class="title" href="${ post.url }"><h2>${ post.title }</h2></a>
          <div class="post-meta">
            <time class="time" datetime="${ post.created_at.strftime('%Y-%m-%dT%H:%M:%S.%fZ') }">
              ${ post.created_at.strftime('%Y-%m-%d')  }
            </time>
            <span class="slash">/</span>

            <ul class="index-tag-list">
              % for tag in post.tags:
                <li class="index-tag-list-item"><a class="index-tag-list-link" href="${ tag.url }">${ tag.name }</a></li>
              % endfor
            </ul>
          </div>
            <div class="post-excerpt">
              <p>${ post.excerpt }</p>
            </div>

          <a class="more" href="${ post.url }"> 阅读全文 〉</a>
      </article>
      % endfor
    </div>
  </div>

  % if SHOW_PROFILE:
  <section id="sidebar">
    <div class="short-about">
      % if AVATAR:
      <img id="avatar_pic" src="${ app.url_for('static', filename=f'{ AVATAR }') }">
      % endif
      <p>${ INTRO }</p>

      <!-- SNS Link -->
      <div id="lightbox" style="display: none;" class="lightbox" onclick="document.getElementById('lightbox').style.display='none';">
        <div class="center">
          <i class="iconfont icon-close"></i>
          <img src="">
        </div>
      </div>
      <ul class="list-inline">
        <%
        sns_map = {
            'douban': 'https://www.douban.com/people/{}',
            'linkedin': 'https://www.linkedin.com/in/{}',
            'stack-overflow': 'https://stackoverflow.com/users/{}',
            'medium': 'https://medium.com/@{}',
            'zhihu': 'https://www.zhihu.com/people/{}',
            'email': 'mailto:{}'
        }
        %>
        % for sns, id in SHOW_PROFILE:
        <%
            tpl = sns_map.get(sns)
            if tpl:
                url = tpl.format(id)
            elif sns in ('wechat', 'weixingongzhonghao'):
                url = app.url_for('static', filename=f'upload/{ id }')
            else:
                url = f'https://{sns}.com/{id}'

            if sns == 'weixingongzhonghao':
                label = '微信公众号'
            elif sns == 'wechat':
                label = '微信'
            else:
                label = sns.replace('-' , '').capitalize()
        %>
        % if url:
          <li class="tooltip-box">
            <a target="_blank" href="${ url }" data-balloon-pos="up" aria-label="${ label }">
              <span>
                <i class="iconfont icon-${ sns }
                  % if sns in ('wechat', 'weixingongzhonghao'):
                      show-pic" data-href="${ url }"
                  % else:
                      "
                  % endif
                ></i>
              </span>
            </a>
          </li>
          % endif
        % endfor
      </ul>
    </div>
    ## <hr>
  </section>
  % endif
</%def>

<%def name="pagination()">
${ utils.pagination('blog.page', paginatior) }
</%def>

<%def name="bottom_script()">
  <script src="${ app.url_for('static', filename='dist/blog/index.js')}"></script>
</%def>
