html {
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.footer, .footer a {
  color: #ddd;
}

.uk-subnav>*>:first-child {
    display: inline-flex;
    color: #ddd;
    &:focus, &:hover {
      color: #eee;
    }
}

.uk-subnav-line>:before {
    content: "";
    display: inline-block;
    height: 10px;
    vertical-align: middle;
}

.uk-subnav>* {
    padding-left: 10px;
}

.uk-subnav-line>:nth-child(n+2):before {
    margin-right: 10px;
    border-left: 1px solid #E5E5E5;
}

.text-center {
    text-align: center;
}

.login-form {
    max-width: 650px;
    display: inline-block;
}

.user-form, .post-form, .settings-form {
    width: 960px;
}

.uk-switch {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 56px;
  margin-left: 15px;
}

/* Hide default HTML checkbox */
.uk-switch input {
  display:none;
}
/* Slider */
.uk-switch-slider {
  background-color: rgba(0,0,0,0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  bottom: 0;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .2s;
}
/* Switch pointer */
.uk-switch-slider:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  transition-property: transform, box-shadow;
  transition-duration: .2s;
}
/* Slider active color */
input:checked + .uk-switch-slider {
  background-color: #39f !important;
}
/* Pointer active animation */
input:checked + .uk-switch-slider:before {
  transform: translateX(26px);
}

/* Modifiers */
.uk-switch-slider.uk-switch-on-off {
  background-color: #f0506e;
}
input:checked + .uk-switch-slider.uk-switch-on-off {
  background-color: #32d296 !important;
}

/* Style Modifier */
.uk-switch-slider.uk-switch-big:before {
  transform: scale(1.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
input:checked + .uk-switch-slider.uk-switch-big:before {
  transform: translateX(26px) scale(1.2);
}

/* Inverse Modifier - affects only default */
.uk-light .uk-switch-slider:not(.uk-switch-on-off) {
  background-color: rgba(255,255,255,0.22);
}

.switch-input {
    display: none;
}

.uk-section {
    padding: 120px 0;
}
