.select2-selection {
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    font: inherit;
    max-width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    width: 500px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #e5e5e5;
    .select2-selection__choice {
      margin-top: 6px;
      padding: 1px 5px;
      color: #40a9ff;
      background-color: #fff;
      border-color: #40a9ff;
    }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #e5e5e5
}

.select2-container {
    width: 500px !important;
    .select2-selection--single {
        height: 40px;
        outline: 0;
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e5e5e5;
    .select2-selection__arrow {
        height: 38px;
    }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e5e5e5;
    outline: 0;
    height: 36px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #5897fb;
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #40a9ff;
  &:hover {
    color: #40a9ff;
  }
}